.bg1
{
    background-image: url(img/bg1.png);
}
.bg2
{
    background-image: url(img/bg10.png);
}
.bg3
{
    background-image: url(img/bg3.png);
    
}
.slides{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 8%;
    padding-left: 30%;
    padding-bottom: 40%;
 }
#txt
{
    position: sticky;
}
.main-text
{
    text-align: center;
    font-family: Comic, cursive, sans-serif;
    position: absolute;
    top: 200px;
    width: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0,0.7);
    padding-top: 50px;
    padding-bottom: 50px;
}
.text
{    text-align: center;
    font-family: Comic, cursive, sans-serif;
    color: #FFF;
}
.bodyTxt
{
    padding-top: 3%;
    text-align: center;
    font-family: Comic, cursive, sans-serif;
    color:black
}

.justify-btn
{
 padding-left: 40px;
 padding-right: 40px;
 padding-bottom: 30px;
 padding-top: 30px;
}
.justify
{
       margin-left: 20%;
       page-break-after: 20%;
}
.justify-card
{
    margin-left: 18%;
    margin-right:16%;
    padding:20px;
    padding-left: 20px;
   background-color: rgba(0, 0, 0,0.2);
}
.leftAlign
{
  text-align: right;
} 
.cardRow
{
    padding: 10px;
}
.store
{
    background-image: url(img/sbg1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.cardSize
{
    width:250px;
    height: 295px;
}
.card-img-size
{
    height: 200px;
}